include navbar
.container
      // Main hero unit for a primary marketing message or call to action 
      .hero-unit
        h1 Hi there!
        p
          | FocusTrark helps you track how visitors view and interact with your sites.
        p
      //    a.btn.btn-primary.btn-large Learn more »
      //
         Example row of columns 
      .row.hide
        .span4
          h2 Heading
          p
            | 
          p
            a.btn(href='#') View details »
        .span4
          h2 Heading
          p
            | 
          p
            a.btn(href='#') View details »
        .span4
          h2 Heading
          p
            | 
          p
            a.btn(href='#') View details »
      include footer
include ga