include ../navbar

.container
   div.row
     .span2
       ul.woll.nav.nav-list
         li.nav-header My Tools
         li
           a(href='#') Filter
         li
           a(href='#') Prefferences
        br
       .well.nav.nav-list
         h6 Total hits today
         h2 219
         h6 over the week
         h2 1216
         hr
         h6 avg time on site
         h2 15min
     .well.span9
       ul.thumbnails
         li.span3
           a.thumbnail(data-toggle='modal', href='#addSiteModal')
             img(src='http://placehold.it/260x180/ffffff/&text=add site', alt='')
        #addSiteModal.modal.hide
          .modal-header
            a.close(data-dismiss='modal') x
            h3 Add a new site to focus on
          .modal-body
            div.control-group#sitename
               input(type="text", name="sitename", placeholder="Site name").span4
            div.control-group#url
               input(type="text", name="url", placeholder="Site URL").span4
            div.control-group#fixedElemID
               input(type="text", name="fixedElemID", placeholder="Fixed element ID tag").span4
               span.help-inline
                  a(rel="tooltip", title="Many sites have flexible layouts. Please provide a HTML ID tag of one element, which position is fixed relative to the rest of the content and available throughout your site. Logo images usually the best for this purpose.").icon-question-sign
            br
            h4 Tracking code for your site
            p
               a(href="#copyTrackingCode") Copy
               | &nbsp;this code and place it at the bottom of you website, right before &lt;/body&gt; tag.
            p.well#tracking
               | &lt;script src="https://s3-eu-west-1.amazonaws.com/usrf/e" type="text/javascript"&gt;&lt;/script&gt;
               | &lt;script type="text/javascript"&gt;
               |  var pageData = pageData || {};
               |  pageData.code = "";
               |  pageData.ofid = ""
               | &lt;/script&gt;
          .modal-footer
            a.btn.btn-primary(href='#addSite') Add
            a.btn(href='#', data-dismiss='modal') Close
       .pagination.pagination-centered.hide
            ul
              li
                a(href='#') Prev
              li.active
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') Next
   include ../footer
include ../ga